body
{
    /* Remove margins and scroll bars. */
    margin:0;
    overflow:hidden;
    /* Styles... */
    text-align:center;
    font-size:12px;
    font-family:sans-serif;
    color:#444;
}

h1
{
    position:absolute;
    width:100%;
    /* Make sure header is drawn on top. */
    z-index:1;
}

#scene-container
{
    /* Set container to take up the full page. */
    position: absolute;
    width:100%;
    height:100%;
    /* Set the container's background color to same as
        app to prevent flashing while loading. */
    background-color:skyblue;
}

#info {
	position: absolute;
	top: 30px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}